body {
    font-family: Arial;
}
.container {
    margin: 30px auto;
    width: 300px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
}
input {
    width: 100px;
}
button {
    margin: 5px;
    padding: 5px 10px;
}
